#bikeButton {
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
    border-color: #ffffff;
    background-color: #ffffff;
    position: absolute;
    z-index: 10;
    margin-top: 5px;
    margin-right:10px;
    height: 60px;
    right: 200px;
    cursor: pointer;
  }
  
  #parkingButton {
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
    border-color: gray;
    background-color: gray;
    position: absolute;
    z-index: 10;
    margin-top: 10px;
    margin-right: 10px;
    right: 150px;
    cursor: pointer;
  }